.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.contact-left {
    flex: 1;
    background-color: #f9c6d2;
    padding: 20px;
    border-radius: 10px;
    margin-right: 10px;
}

.contact-left h2 {
    color: #ff3366;
    font-size: 24px;
}

.contact-left p {
    color: #333;
    font-size: 16px;
}

.contact-right {
    flex: 1;
    background-color: #ffd9d2;
    padding: 20px;
    border-radius: 10px;
}

.contact-right h2 {
    color: #ff3366;
    font-size: 24px;
}

.contact-right p {
    color: #333;
    font-size: 16px;
}

.back-button {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    background-color: #ff3366;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
}

.back-button:hover {
    background-color: #ff6699;
}